﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Shopping/ShoppingMaster.Master" AutoEventWireup="true" CodeBehind="CartItem.aspx.cs" Inherits="HanayenWebsite.Shopping.CartItem" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
<link rel="Stylesheet" href="Style/Gallery.css" />
<script src="js/jquery.twbsPagination.js" type="text/javascript"></script>
    <link href="Style/simplePagination.css" rel="stylesheet" type="text/css" />
    <link href="../Pages/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="Style/jquery.simpleLens.css" />
    <link rel="stylesheet" type="text/css" href="Style/jquery.confirm.css" />
    <link rel="stylesheet" type="text/css" href="Style/jquery.simpleGallery.css" />
    <link rel="Stylesheet" type="text/css" href="Style/itemcart.css" />
 
<%--<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css"/>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
--%>
    <script src="js/JSCartItem.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/popup.js"></script>
    <script type="text/javascript" src="js/jquery.confirm.js"></script>
    
    <style type="text/css">
    
.column
 {
    width:225% ! important;
    float: left ! important;
    padding-left: 1.6% ! important;
}
#column1 
{
    
    width:125%;
    float: left;
    padding-left: 1.6%;
}


    </style>
<script type="text/javascript">
    

</script>

 
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
 
  <div id="div_cart_Item">
  <div class="pflow"> <div class="flow"></div></div>
  
     <div class="table" id="tablesss">
    <ul class="title">
    <li class="td selecitem" id="tdselected">SELECTED ITEM</li>
    <li class="td liqty">QUANTITY</li>
    <li class="td liunitp">UNIT PRICE</li>
    <li class="td liedit">EDIT</li>
    <li class="td">SUBTOTAL</li>
   <%-- <li class="td"></li>--%>
  </ul>
  
</div>
  </div>
     <div class="toCheckOut">
     <div style="float:left">Estimate Shipping</div>
     <div class="li1">
     Enter your destination to get a shipping estimate. <strong>(Shipping Weight:399.5 kg)</strong>
     </div>
    <div class="promocode">
     <span>Promotional Code</span>
     <div>
     <input type="text" class="txtpromo" />
     </div>
     <div>
     Subtotal:
     </div>
     <div >
     Save :
     </div>
    </div>
   </div>
  
</asp:Content>
