﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ForgotPassword.aspx.cs" Inherits="HanayenWebsite.Shopping.ForgotPassword" %>


 <link rel="Stylesheet" type="text/css" href="Style/Registration.css" />
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <link rel="stylesheet" type="text/css" href="Style/Customer.css" />
<link href="Style/Registration.css" rel="stylesheet" type="text/css" />
 <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"> </script>   
 <script type="text/javascript">

 
</script>
<style>
.ccc{
 padding-top: 36%;
 }
 .resetPsFor h3 {
font-size: 1.5em;
padding-top: 20px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.resetPs form {
width: 290px;
text-align: left;
margin: 0 auto;
}

</style>
<body>
<div>
<div>
<section class="loginBox">
			<header class="clearfix">
            <a href="http://www.dresslily.com/" titel="DressLily logo" class="fl ml30"><img src="images/logo_han.png" width="316" height="56"></a>
				<div class="loginWithFb fr mr30"><a onclick="facebook_signup();" href="javascript:void(0);" class="fl"><b>f</b>Login with Facebook</a></div>  
            	  
			</header>
            <div class="center" > <h3>Confirm your identity to reset password</h3>
            <p class="topTips">Enter your email address below and Click the Continue button</p>
       </div>
       <%--<div class="ipt_t"><input type="email" class="email" id="email" placeholder="E-mail"/></div>
<div id="emailmsg" class="emailmsg"></div>--%>
<div class="ipt_t">
<input class="inputText email" id="reg_email" name="email" placeholder="E-mail address" autocomplete="off" type="text">
</div>
        <div class="s_valid ccc" style="padding-top=36%">
        </div>
			<footer>
				<div class="downApp fr">
					
				</div>

			</footer>
           
		</section>
         </div>


</body>
