﻿<%@ Page Title="" Language="C#" AutoEventWireup="true" CodeBehind="UserRegistration.aspx.cs" Inherits="HanayenWebsite.Shopping.UserRegistration" %>

  <link rel="stylesheet" type="text/css" href="Style/Customer.css" />
  <link rel="Stylesheet" type="text/css" href="Style/Registration.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

 <script type="text/javascript" src="js/JSCustomer.js"></script>
 

 <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
    
<body>
<div  class="Background">
<div>
<section class="loginBox">
			<header class="clearfix">
            <a href="http://www.dresslily.com/" titel="DressLily logo" class="fl ml30"><img src="images/logo_han.png" width="316" height="56"></a>
            <div class="loginWithFb fr mr30"><a onclick="facebook_signup();" href="javascript:void(0);" class="fl"><b>f</b>Login with Facebook</a></div>             	  
			</header>
<div class="s_valid">
 <section class="operalBox operalBoxL">
					
<div class="operalForm mt20">
<p class="tc msg_error none"></p>
<form id="signinform" method="post" novalidate="novalidate">

 <div class="ipt_t"><input type="email" class="email" id="email" placeholder="E-mail"/></div>
<div id="emailmsg" class="emailmsg"></div>
<div class="ipt_t">
<input type="password" class="password"  id="password" placeholder="Password"/>
</div>
<div id="passwmsg">   </div>
<div class="ipt_t">
<input type="password" class="repassword"  id="repassword" placeholder="Re-Enter Password   " onclick="return repassword_onclick()" />
</div>
<div id="passwrdmsg">   </div>
<div class="ipt_btn">
<div class="btnSubmit" onclick="insertUserDetails()">SUBMIT</div>

<div class="agrrementWarp ">
								<input type="checkbox" value="checkbox" name="agreement" id="agreement" checked="checked">
								<span>I agree to Hanayen.com <a class="unl gray6" target="_blank" href="m-article-id-36.html">Terms and Conditions</a></span>
							</div>
                            <div id="agreemsg">   </div>
</div>
							</form>
					</div><!--end .operalForm-->
				</section>
                <section class="operalBox operalBoxR">
					<h3>Return to Login</h3>
					<p class="tips">Already have an account?</p>
					<div class="gotoBtn">
                    <div class="btnSubmit" onclick="">LOGIN</div>
					</div>
				</section>
        </div>
			<footer>
				<div class="downApp fr">
					
				</div>

			</footer>
           
		</section>

         </div>

</div>
</body>