﻿<%@ Page Title="" Language="C#"  AutoEventWireup="true" CodeBehind="UserLogin.aspx.cs" Inherits="HanayenWebsite.Shopping.UserLogin" %>
 <link rel="stylesheet" type="text/css" href="Style/Customer.css" />
 <link rel="Stylesheet" type="text/css" href="Style/Registration.css" />
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <script type="text/javascript" src="js/JSLogin1.js"></script>
 <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"> </script>   

 <script type="text/javascript">



</script>
<body>
<div>
<div>
<section class="loginBox">
			<header class="clearfix">
            <a href="http://www.dresslily.com/" titel="DressLily logo" class="fl ml30"><img src="images/logo_han.png" width="316" height="56"></a>
				<div class="loginWithFb fr mr30"><a onclick="facebook_signup();" href="javascript:void(0);" class="fl"><b>f</b>Login with Facebook</a></div>  
            	  
			</header>
        <div class="s_valid">
        <section class="operalBox operalBoxL">
					
					<div class="operalForm mt20">
						<p class="tc msg_error none"></p>
						<form id="signinform" method="post" novalidate="novalidate">

                        <div class="ipt_t"><input type="email" class="email" id="email" placeholder="E-mail"/></div>
<div class="emailmsg"></div>
<div id="emailmsg" class="emailmsg"></div>
<div class="ipt_t">
<input type="password" class="password"  id="password" placeholder="Password"/>
</div>
<div id="passwmsg">   </div>
<div class="ipt_btn">
<div class="btnSubmit" onclick="checkvaliduser()">SIGN IN</div>
<p class="forgetPas"><a href="ForgotPassword.aspx">Forgot your password?</a></p>
</div>
							</form>
					</div><!--end .operalForm-->
				</section>
                <section class="operalBox operalBoxR">
					<h3>New to Hanayen?</h3>
					<p class="tips">Creating an Account Fast and Safe</p>
					<div class="gotoBtn">
                    <div class="btnSubmit" onclick="">REGISTER</div>
					</div>
				</section>
        </div>
			<footer>
				<div class="downApp fr">
					
				</div>

			</footer>
           
		</section>

         </div>

</div>
</body>
