﻿*/*Set's border, padding and margin to 0 for all values*/
{
    padding: 0;
    margin: 0;
    border: 0;
}
body, html {
    color: #373C40;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #f0f0f0;
    margin:10px;
}
body {
    font-size: 70%;
}
p {
    padding: 7px 0 7px 0;
    font-weight: 500;
    font-size: 10pt;
}
a {
    color: #656565;
    text-decoration:none;
}
a:hover{
    color: #abda0f;
    text-decoration: none;
}
h1 {
    font-weight:200;
    color: #888888;
    font-size:16pt;
    background: transparent url(/img/h1.png) no-repeat center left;
    padding-left:33px;
    margin:7px 5px 8px 8px;
}
h4 {
    padding:1px;
    color: #ACACAC;
    font-size:9pt;
    font-weight:100;
    text-transform:uppercase;
}
.register{
    width:70%;
    margin: 20px auto 0px auto;
    height:530px;
    background-color:#fff;
    padding:5px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}
.register p{
    font-size: 8pt;
    clear:both;
    margin: 0;
    color:gray;
    padding:4px;
}
.register fieldset.row1
{
    width:100%;
    padding:5px;
    float:left;
    border-top:1px solid #F5F5F5;
    margin-bottom:15px;
}
.register fieldset.row1 label{
    width:140px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
    font-size:12px;
}
div.register fieldset.row2
{
    border-top:1px solid #F1F1F1;
    border-right:1px solid #F1F1F1;
    height:220px;
    padding:5px;
    float:left;
}
div.register fieldset.row3
{
    border-top:1px solid #F1F1F1;
    padding:5px;
    float:left;
    margin-bottom:15px;
    width:400px;
}
div.register fieldset.row5
{
    border-top:1px solid #F1F1F1;
    padding:5px;
    float:left;
    margin-bottom:15px;
    width:auto;
}
div.register fieldset.row5 label
{
    width:140px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
    font-size:12px;
}
div.register fieldset.row4
{
    border-top:1px solid #F1F1F1;
    border-right:1px solid #F1F1F1;
    padding:5px;
    float:left;
    clear:both;
    width:500px;
}
div.register .infobox{
    float:right;
    margin-top:20px;
    border: 1px solid #F1F1F1;
    padding:5px;
    width:380px;
    height:98px;
    font-size:9px;
    background: #FDFEFA url(/img/bg_infobox.gif) repeat-x top left;
}
div.register legend
{
    color: #abda0f;
    padding:2px;
    margin-left: 14px;
    font-weight:bold;
    font-size: 14px;
    font-weight:100;
}
.register label{
    color:#444;
    width:98px;
    float: left;
    text-align: right ;
    margin-right: 6px;
    margin-top:2px;
    font-size:12px;
}
div.register label.optional{
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
    color: #A3A3A3;
}
div.register label.obinfo{
    float:right;
    padding:3px;
    font-style:italic;
}
div.register input{
    width: 140px;
    color: #505050;
    float: left;
    margin-right: 5px;
    border:2px;
}
.select
{
     border: 1px solid #E1E1E1;
    width: 150px;
    float:left;
    margin-bottom:3px;
    color: #505050;
    margin-right:5px;
}
div.register input.long{
    width: 247px;
    color: #505050;
}
div.register input.short{
    width: 40px;
    color: #505050;
}
div.register input[type=radio]
{
    float:left;
    width:15px;
}
div.register label.gender{
    margin-top:-1px;
    margin-bottom:2px;
    width:34px;
    float:left;
    text-align:left;
    line-height:19px;
}
div.register input[type=text]
{
    border: 2px solid #E1E1E1;
    height: 18px;
}
div.register input[type=password]
{
    border: 1px solid #E1E1E1;
    height: 18px;
}
div.register input.button
{
    background: #abda0f url(/img/overlay.png) repeat-x;
    padding:0px 10px 8px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:right;
    font-size:18px;
    margin:10px;
    margin-right:40%;
}
div.register input[type=text].year
{
    border: 1px solid #E1E1E1;
    height: 18px;
    width:30px;
}
div.register input[type=checkbox] {
    width:14px;
    
}
.register select
{
    border: 1px solid #E1E1E1;
    width: 140px;
    float:left;
    margin-bottom:3px;
    color: #505050;
    margin-right:5px;
}
form.register select.date
{
    width: 40px;
}
input:focus, select:focus{
    background-color: #efffe0;
}
p.info{
    font-size:7pt;
    color: gray;
}
p.agreement{
    margin-left:15px;
}
p.agreement label{
    width:390px;
    text-align:left;
    margin-top:3px;
}

textarea
{
    border: 1px solid #ccc; 
    width:70%;
}
.newImage
{
    width:25px ;
    height:25px;
    background:url(/img/new.png)  no-repeat;
    float:left;
   cursor:pointer;
}
div.register .checkDiv
{
    height:100px;
    width:250px;
    overflow-y:scroll;
    border:1px solid #ccc;
    text-align:left;
}
div.register .ListControl
{
    
    
    
   
}
div.register .checkDiv input
{
    float:left;
    clear:both;
}
div.register .ListControl td
{
    padding-left:20px;
}
div.register .ListControl label
{
    display: block;
    padding-left: 0px;
    text-indent: 0px;
    text-align:left;
    margin-top:0px;
    
}
div.register .file-upload
{
    background: none repeat scroll 0 0 #FBFBFA;
    border: 1px solid #EFEFEF;
    border-radius: 6px;
    font-family: calibri;
    font-size: 14px;
    padding: 10px;
    width: 200px;
   
}
div.register input.delete
{
    width:25px ;
    height:25px;
    background:url(/img/delete.png)  no-repeat;
    float:left;
   cursor:pointer;
}
div.register input.btnSize
{
    background: #abda0f url(/img/overlay.png) repeat-x;
    padding:0px 10px 8px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:right;
    font-size:18px;
    margin:10px;
    margin-right:50%;
    
}
.back
{
    cursor:pointer;
    font-weight:bold;
    color:Blue;
    font-style:italic;
}
#tblSize table 
{
    width:100%;
}
#tblSize table td
{
    min-height:2px;
    
   
}




