﻿div.btnSubmit
{
padding: 0 40px;
line-height: 30px;
font-weight: normal;
background-color: #FF0047;
color: white;
width:73px;
cursor:pointer;
border-radius: 2px;
border:3px solid #FF0047;
margin-top:35px;
}
.btnSubmit:hover{
padding: 0 40px;
line-height: 30px;
font-weight: normal;
background-color:white; 
color: #FF0047;
width:73px;
cursor:pointer;
border:3px solid #FF0047;
border-radius: 2px;
}
P
{
    margin-top:30px;
}
.row2
{
    margin-left:160px;
    margin-top:28px;
    
}