﻿h4
{line-height: 40px;
border-bottom: 1px solid #DDD;
font-weight: bold;
font-size: 19px;
font: Verdana,Arial,Helvetica,sans-serif;
color: #000;
    }
    .inner_content
    {
        margin-left: 12%;
        }
        .inner_box_padd
        {
            padding: 20px 0px 0px 20px;
            }
    ul
    {
        list-style:none;
        font: 1em/1.55 Verdana,Arial,Helvetica,sans-serif;
        }
        ul span.b
        {
            font-weight: bold;
            }
            ul span.lb
        {
            font-size: 15px;
            color: #000000;
            }
            ul li.hori
            {
                display:inline-block;
               
                }
                .li_col1
                {
                    width:40%
                    }
                     .li_col2
                {
                    width:30%
                    }
                         .li_col3
                {
                    width:25%
                    }
                    
                    .track
                    {
                        color: green;
                        font-weight : bolder;
                        
                        
                        }
                        .cart_time
                        {
                            
                            background-image: url(../images/cart.png);
                            background-position: -91px -102px;
                            width: 36px;
                            height: 30px;
                            float: left;
                            }
                           .red
                            {
                                color: #cd011f;
                                }
                               