
        .captionOrange, .captionBlack
        {
            color: #fff;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
        }
        .captionOrange
        {
            background: #EB5100;
            background-color: rgba(235, 81, 0, 0.6);
        }
        .captionBlack
        {
        	font-size:16px;
            background: #000;
            background-color: rgba(0, 0, 0, 0.4);
        }
        a.captionOrange, A.captionOrange:active, A.captionOrange:visited
        {
        	color: #ffffff;
        	text-decoration: none;
        }
        a.captionOrange:hover
        {
            color: #eb5100;
            text-decoration: underline;
            background-color: #eeeeee;
            background-color: rgba(238, 238, 238, 0.7);
        }
        .bricon
        {
            background: url(img/browser-icons.png);
        }
    .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
                filter: alpha(opacity=70);
                opacity: .7;
                overflow: hidden;
                cursor: pointer;
                border: #000 1px solid;
            }

            .jssorb01 div {
                background-color: gray;
            }

                .jssorb01 div:hover, .jssorb01 .av:hover {
                    background-color: #d3d3d3;
                }

            .jssorb01 .av {
                background-color: #fff;
            }

            .jssorb01 .dn, .jssorb01 .dn:hover {
                background-color: #555555;
            }
			
			 .jssora02l, .jssora02r, .jssora02ldn, .jssora02rdn
            {
            	position: absolute;
            	cursor: pointer;
            	display: block;
                background: url(../img/a02.png) no-repeat;
                overflow:hidden;
            }
            .jssora02l { background-position: -3px -33px; }
            .jssora02r { background-position: -63px -33px; }
            .jssora02l:hover { background-position: -123px -33px; }
            .jssora02r:hover { background-position: -183px -33px; }
            .jssora02ldn { background-position: -243px -33px; }
            .jssora02rdn { background-position: -303px -33px; }
            .sectionSub
            {
                width: 91%;
                float: left;
                margin-left: 7%;
                padding-top: 2%;
            }
            .sectionSub h1
            {
                padding-bottom: 10px;
                font-size: 18px;
                color: #000;
                border-bottom: 2px solid #000;
                font-weight: bold;
            }
            .section_item
            {
                width: 230px;
                height: 270px;
                /*border: 1px solid black;*/
                float: left;
                  margin-left: 7px;
            }
            .section_item img
            {
                
              width: 216px;
              height: 216px;
           }
           .des_item
           {
               height: 18px;
               line-height: 18px;
               width: 210px;
               font: 1em/1.55 Verdana,Arial,Helvetica,sans-serif;
               padding-top: 4px;
               padding-left: 4px;
           }
           .des_item a
           {
               font: 1em/1.55 Verdana,Arial,Helvetica,sans-serif;
               color: #808080;
           }
           .item_price
            {
                font-family: fantasy;
                padding-left: 5px;
                padding-top: 5px;
            }
            