﻿body {
}
.mainContent {
    background: none repeat scroll 0 0 #fff;
    margin: auto;
    overflow: hidden;
    text-align: left;
   /* width: 1000px;*/
    width:92%;
    min-height:350px;
}
#header .navigation .level-1:before, #header .navigation .level-1:after {
    content: " ";
    display: table;
}
#header .navigation-container {
    background-color: white;
    box-shadow: 0 0 7px 0 #999;
    position: relative;
    width: 100%;
    z-index: 0;
    
}

#header .navigation .level-1:before, #header .navigation .level-1:after {
    content: " ";
    display: table;
}
#header .navigation .level-1 > li {
    display: block;
    float: left;
}
#header .navigation .level-1 > li {
    display: inline-block;
    vertical-align: top;
}
#header .navigation .level-1:before, #header .navigation .level-1:after {
    content: " ";
    display: table;
}
#header .navigation .level-1:after {
    clear: both;
}
#header .navigation .level-1:before, #header .navigation .level-1:after {
    content: " ";
    display: table;
}
#header .navigation .home {
    background-position: 0 0;
    height: 74px;
    margin-bottom: -13px;
    margin-top: -12px;
    width: 90px;
}
#header .navigation .home {
    background: url("../../img/Untitled-2.png") no-repeat scroll -90px 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 49px;
    margin: 0;
    position: relative;
    text-indent: -4000px;
    vertical-align: top;
    width: 56px;
    z-index: 3;
}
#header a {
    
}


.wl-application-banner .node.node--basket {
    display: block;
}
.wl-application-banner .node {
    float: left;
    margin: 0 0 -1px;
    position: relative;
}
.wl-application-banner li {
    list-style: outside none none;
}
.wl-application-banner li, .wl-application-banner ul {
    margin: 0;
    padding: 0;
}
.wl-dropdown {
    position: relative;
}

.wl-application-banner .node--basket .link .count-box {
    background: url("../images/backgrounds/ht-border.png") repeat scroll 0 0 #ff008a;
    display: block;
    float: left;
    margin: 1px 3px 0 12px;
    padding: 1px;
    position: relative;
}
.wl-application-banner .node--basket .link .count-box .count-number {
    border: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 20px;
    padding: 0 8px;
    position: relative;
    text-align: center;
}
.wl-application-banner .node--basket .link .count-box > * {
    background-color: #ff008a;
}