﻿div.btnSubmit
{
padding: 0 40px;
line-height: 30px;
font-weight: normal;
background-color: #FF0047;
color: white;
width:73px;
cursor:pointer;
border-radius: 2px;
border:3px solid #FF0047;
}
.btnSubmit:hover{
padding: 0 40px;
line-height: 30px;
font-weight: normal;
background-color:white; 
color: #FF0047;
width:73px;
cursor:pointer;
border:3px solid #FF0047;
border-radius: 2px;
}
body
{
background-image:url('../images/background1.jpg'); 
}




