﻿
   
.widthcontainer
{
    margin:0px;
    width:930px;
}
#catalog_container {
    padding: 13px 0 60px;
    position: relative;
}
.row
{
    width:101%;
}
.column {
    box-sizing: border-box;
    float: left;
    padding-left: 1.6%;
}
.one_fifth {
    width: 20%;
}
catalog_category_option #catalog_category_option {
    margin-bottom: 28px;
}
catalog_category_option ol, ul {
    list-style: none outside none;
}
catalog_category_option ul li {
    font-size: 12px;
}
#catalog_category_option li a:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent black;
    border-image: none;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: "";
    display: inline-block;
    height: 0;
    margin-right: 8px;
    width: 0;
}
#catalog_category_option li:first-child a {
    padding-top: 0;
}
.less {
    width: 33.333%;
}
#catalog_category_option li a {
    color: black;
    display: block;
    padding-top: 5px;
     font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
     font-size:12pt;
}
a[href], input[type="submit"], input[type="image"], label[for], select, button, .pointer {
    cursor: pointer;
}
a {
    color: #666666;
    outline: 0 none;
    text-decoration: none;
    font-family: 'Tangerine', serif;
        font-size: 100%;
        
}

  .column_grid.large_gutter .column {
    padding-left: 2%;
}
.four_fifths {
    width: 80%;
}
.column {
    box-sizing: border-box;
    float: left;
    padding-left: 1.6%;
}
ul#catalog_listings, ul.catalog_listings {
    font-size: 0;
    position: relative;
      min-height:350px;
}
ul#catalog_listings li.listing, ul.catalog_listings li.listing {
    display: inline-block;
    margin-bottom: 17px;
    position: relative;
    vertical-align: top;
    width: 24.99%;
}
ul#catalog_listings li.listing .image_container, ul.catalog_listings li.listing .image_container {
    margin-bottom: 5px;
    position: relative;
    height:266px;
     image-rendering: auto !important;
}
ul#catalog_listings li.listing .image_container img.loaded, ul.catalog_listings li.listing .image_container img.loaded {
    z-index: 20;
}
ul#catalog_listings li.listing .image_container img, ul.catalog_listings li.listing .image_container img {
    display: block;
    left: 0;
    max-width: 100%;
    position: absolute;
    top: 0;
    max-height:273px;
    background-image:url('../../img/loader.gif');
}
a img {
    border: medium none;
}
img {
   
}
   ul#catalog_listings li.listing .image_container img.loaded, ul.catalog_listings li.listing .image_container img.loaded {
    z-index: 20;
}
ul#catalog_listings li.listing .image_container .preloader, ul.catalog_listings li.listing .image_container .preloader {
   background: url("../../img/loader.gif") no-repeat scroll center center white;
    padding-bottom: 144.404%;
    position: relative;
    z-index: -10;
}
.image_container.reloader img.loaded {
    z-index: 10;
}
ul#catalog_listings li.listing .details_container, ul.catalog_listings li.listing .details_container {
    padding-right: 32px;
}

ul#catalog_listings li.listing .details_container p.brand, ul.catalog_listings li.listing .details_container p.brand {
    border-bottom: 1px solid #bdbdbd;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 1px;
    text-transform: uppercase;
}
p {
    font-size: 12px;
}

ul#catalog_listings li.listing .details_container p.description, ul.catalog_listings li.listing .details_container p.description {
    font-weight: 400;
}
.pagination_container {
    font-size: 0;
    margin-top: 9px;
    text-align: center;
}
#pagination {
    display: inline-block;
}
.pagination_container p {
    margin-bottom: 8px;
}
.pagination_container .arrow:after, .pagination_container .arrow:before {
    margin-top: -1px;
    vertical-align: middle;
}
#next_page:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #666666;
    border-image: none;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: 8px;
    width: 0;
}
.pagination_container .arrow:after, .pagination_container .arrow:before {
    margin-top: -1px;
    vertical-align: middle;
}
#next_page {
    margin-left: 8px;
}
.pagination_container .arrow {
    font-size: 12px;
    width: 100px;
}
.pagination_container a {
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    line-height: 28px;
}
#main_navigation .level_02_container, .pagination_container a {
    background-color: #eeeeee;
    background-image: linear-gradient(#ffffff, #eeeeee);
}
a {
    color: #666666;
    outline: 0 none;
    text-decoration: none;
}
.simpleLens-thumbnails-container
{
   
}
.pre_reduction {
    text-decoration: line-through;
}
.reduction {
    color: #e00000;
}
#prev_page:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #666666 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    content: "";
    display: inline-block;
    height: 0;
    margin-right: 8px;
    width: 0;
}
#prev_page {
    margin-right: 8px;
    display:none;
}
.ar #prev_page {
    margin-left: 8px;
    margin-right: 0;
}
.ar #prev_page:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #666666;
    border-image: none;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    display: inline-block;
    height: 0;
    margin-left: 8px;
    margin-right: 0;
    margin-top: 2px;
    width: 0;
}
.ie8.ar #prev_page:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #666666 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    display: inline-block;
    height: 0;
    width: 0;
}

/*Pagination*/
pagination li {
    display: inline-block;
    margin-left: 8px;
}
#pagination li:first-child {
    margin-left: 0;
}
#pagination li a {
    display: block;
    width: 30px;
}
#pagination li a.selected-page {
    background: none repeat scroll 0 0 lightgrey;
    color: #9f9f9f;
    cursor: default;
}
.ar #pagination li {
    margin-left: 0;
    margin-right: 8px;
}
.ar #pagination li:first-child {
    margin-right: 0;
}
#next_page {
    margin-left: 8px;
}
#next_page:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #666666;
    border-image: none;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: 8px;
    width: 0;
}
.ar #next_page {
    margin-left: 0;
    margin-right: 8px;
}
.ar #next_page:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #666666 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    display: inline-block;
    height: 0;
    margin-left: 0;
    margin-right: 8px;
    margin-top: 2px;
    width: 0;
}
.ie8.ar #next_page:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #666666;
    border-image: none;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    display: inline-block;
    height: 0;
    width: 0;
}
#prev_page {
    margin-right: 8px;
}
#prev_page:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #666666 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    content: "";
    display: inline-block;
    height: 0;
    margin-right: 8px;
    width: 0;
}
.ar #prev_page {
    margin-left: 8px;
    margin-right: 0;
}
.ar #prev_page:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #666666;
    border-image: none;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    display: inline-block;
    height: 0;
    margin-left: 8px;
    margin-right: 0;
    margin-top: 2px;
    width: 0;
}
.ie8.ar #prev_page:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #666666 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    display: inline-block;
    height: 0;
    width: 0;
}
h1
{
    font-size:larger;
}
#carousel_pager {
    font-size: 0;
    margin-top: 8px;
    text-align: center;
}
.pagination_container a{
	padding:3px;
	border:1px solid gray;
	margin:2px;
	color:black;
	text-decoration:none
}
.active_page{
	background:darkblue;
	color:white !important;
}
