﻿.clearfix:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: block;
}
.banner {
    width: 80%;
    height: auto;
    max-height: 430px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.fl {
    float: left;
    display: inline;
}
element {
    width: 100%;
    float: left;
    margin-right: -100%;
    position: relative;
    opacity: 0;
    display: block;
    z-index: 1;
}
.banner .control-nav {
    position: absolute;
    z-index: 4;
    left: 0px;
    bottom: 30px;
    height: 15px;
    width: 100%;
    text-align: center;
}
.banner .control-nav li {
    display: inline-block;
    margin: 0px 10px;
    height: 10px;
    width: 10px;
    vertical-align: top;
}
.banner .control-nav a {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    font-size: 0px;
    cursor: pointer;
    background: none repeat scroll 0% 0% #FFF;
}
banner .direction-nav {
    height: 0px;
    width: 0px;
    line-height: 0;
}
.banner:hover .prev {
left: 0;
}
.banner .direction-nav a {
    width: 40px;
    height: 93px;
    position: absolute;
    top: 50%;
    z-index: 10;
    margin: -46px 0px 0px;
    display: block;
    background-image: url("../images/styleimg/bg_direction_nav.png");
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 0px;
}
.banner .prev {
    background-position: 0px 0px;
    left: -50px;
}
a:link, a:active {
    background-color: transparent;
}
a {
    text-decoration: none;
    color: #666;
}
.banner .direction-nav a {
    width: 40px;
    height: 93px;
    position: absolute;
    top: 50%;
    z-index: 10;
    margin: -46px 0px 0px;
    display: block;
    background-image: url("../images/styleimg/bg_direction_nav.png");
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 0px;
}

.banner .next {
    background-position: -53px 0px;
    right: -50px;
}
a:link, a:active {
    background-color: transparent;
}
a {
    text-decoration: none;
    color: #666;
}
.banner_right {
    width: 19%;
}
.fr {
    float: right;
    display: inline;
}
.banner_right a:first-child {
    margin-bottom: 10px;
}
.banner_right a {
    display: block;
    font-size: 0px;
}
a:link, a:active {
    background-color: transparent;
}
a {
    text-decoration: none;
    color: #666;
}
a {
    text-decoration: none;
    color: #666;
}
.banner .control-nav {
    text-align: center;
}
ol, ul {
    list-style: outside none none;
}
.mb10 
{
Submitmargin-bottom: 10px;
}
.scrollBox {
Submitposition: relative;
Submitpadding: 15px 22px 10px;
Submitheight: 264px;
}
.scrollBox .slides {
Submitheight: 264px;
Submitoverflow: hidden;
}
sectionBox_h {
Submitpadding-bottom: 10px;
Submitfont-size: 18px;
Submitcolor: #000;
Submitborder-bottom: 2px solid #000;
Submitfont-weight: bold;
}
h4 {
display: block;
-webkit-margin-before: 1.33em;
-webkit-margin-after: 1.33em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}
.banner:hover .prev {
left: 0;
}
.mb15 {
Submitmargin-bottom: 15px;
}

