﻿li.td{
    display: inline-block;
    margin-bottom: 17px;
    position: relative;
    vertical-align: top;}
.txtQty{width: 70%;text-align: center;}
.title{font-size: .875em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 32px;
    line-height: 32px;
    padding: 0 30px;}   
.selecitem{width:41%;text-align: left;}
.liqty{ width: 15%;}
.liunitp{width: 15%;}
.liedit{width: 15%;}
.table{padding-top: 3%;}
.ulproducts{clear: both;padding: 15px 30px;border-bottom: 1px dashed #ddd;}
 div.item1{width: 10%;margin-top: 32px;float:left;}
 div.item2{width: 25%;text-align: center;float:left;margin-top:3%;}
 div.item3{width: 65%;float:left;margin-top:3%;}
.minusButt{float:left;}
.qntityArea{float: left;width: 19%;padding-top: 2%;padding-left: 3%;}
.addButt{float:left;}
.topPadd{margin-top: 25px; color:#da333a}
.sidePadd{margin-left:10%;}
.sidePaddTwo{padding-left: 3%;}
 div.delbutton{background-image:url('../images/btndelete.png');height: 20px; width: 20px;}
 div.divclear{float: left;padding-left: 8%;cursor:pointer;}
 div.divchek{float: left;}
 div.txtpromo{height:25px;}
 div.contshopping{font-size: 14px;}
 div.li1{padding-left:10%;height:20px;}
 .contsh{float: right;}
 div.delbutton:hover 
 {
    background-image:url('../images/btndeletehover.png') ;
    height: 20px; width: 20px;
    cursor:pointer;
 }
 div.btnQty{
    background-image:url('../images/minusbtn.png') ;
    height: 20px; width: 20px;
    cursor:pointer;}
        
          div.btnQtyP
    {
     background-image:url('../images/plusbtn.png') ;
    height: 20px; width: 20px;
    cursor:pointer;      
     }
.fl{float: left;display: inline;}
div.clearall {
border: 3px solid #000;
display: inline-block;
padding: 3px 10px;
font-size: .875em;
color: #000;
text-decoration: none;}
div.actualp{text-decoration: line-through;color:Black}
div.flow{background-image:url('../images/flow.JPG') ;height: 100px; width: 800px;}
 div.pflow{padding-left: 18%;padding-top: 1%;}
 div.toCheckOut
 {
     background-color:Silver;
     width:1250px;
     height:200px;
     border-color:Black;
          
 }
 div.promocode
 {
    padding-left:78%;
     width:250px;
     height:20px;
     border-color:Black;
 }
 div.crtcolor{font-size: 13px;
font-family: monospace;}