﻿body {
}
.product-detail-container {
    margin-left: 0px;
    width: 540px;
}
.product-detail-container {
    float:left;
}
.pull-right {
    float: right !important;
}
h1, h2, h3, h4, h5, h6, h7, h8, h9, h10, h11, .h1, .h2, .h3, .h4, .h5, .h6, h7, .h8, .h9, .h10, .h11 {
    font-family: "Primary-Bold",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 700;
    line-height: 100%;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
}
.product-detail-container h1.product-name {
    margin: 0;
    text-transform: uppercase;
} #product-content {
    padding: 7px 0;
}
.product-detail-container .product-number {
    color: #666;
    font-family: "Primary-Medium",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 12px;
    letter-spacing: 0.75px;
    margin-top: 6px;
}
.pre_reduction {
    text-decoration: line-through;
    color:Red;
}
.product-detail-container header {
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 13px;
    overflow: hidden;
    padding-bottom: 2px;
}
 .option_select p.faux_label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    text-transform: uppercase;
}
label, p.faux_label, .label {
    color: black;
    display: block;
    font-size: 12px;
    margin-bottom: 3px;
    text-align: left;
}
p {
    font-size: 12px;
}
#product_size_mapper {
    float: left;
    margin-right: 16px;
    width: 125px;
}
.select_container {
    overflow: hidden;
}
.select_container span:after {
    background-position: -166px -101px;
    content: "";
    display: inline-block;
    height: 26px;
    pointer-events: none;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 20px;
}
#site_logo, #cart_link i, #country_switch .country:before, ul.social_media li a, #social_links ul.channels li .icon, #splash_container i.flag, #phoneVerification_popup_close, #newsletter_popup_close, #zoomedImage_popup_close, #size_guide_close, ul.usps_icons > li:before, ul.payment_methods li, ul.certification li, #site_header ul.usps .details:after, #site_header ul.usps .details ul li:before, #intro_page .logo, #splash_container .panel .logo_en, #splash_container .panel .logo_ar, #carousel_previous, #carousel_next, button.wishlist_cta:before, .select_container label:after, .select_container span:after, .control-group.select_container .controls:after, .site_search .submit i, #brand_search i, ul#catalog_listings li.listing .catalog_tag_plus_size .image_container:after, ul#catalog_listings li.listing .catalog_tag_designer_deals .image_container:after, ul#catalog_listings li.listing .catalog_tag_maternity .image_container:after, ul.catalog_listings li.listing .catalog_tag_plus_size .image_container:after, ul.catalog_listings li.listing .catalog_tag_designer_deals .image_container:after, ul.catalog_listings li.listing .catalog_tag_maternity .image_container:after {
    background-image: url("../m-images/phoenix_sprite-85269c7d.png");
    background-repeat: no-repeat;
    background-size: 226px auto;
}
.select_container span {
    display: block;
    margin: 0;
    position: relative;
    width: 100%;
}
.select_container select {
    padding-top: 5px;
}
.select_container select {
    -moz-appearance: none;
    float: right;
    padding: 0 0 0 8px;
}
input, select, textarea {
    border: 1px solid #bdbdbd;
    border-radius: 0;
    box-sizing: border-box;
    font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 28px;
    margin: 0;
    padding: 0 8px;
    width: 100%;
}
a[href], input[type="submit"], input[type="image"], label[for], select, button, .pointer {
    cursor: pointer;
}
 .option_select ul
 {
    
    margin-left:0px !important;
}
.option_select li
 {
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left:0px;
}
ul li {
    font-size: 12px;
}
 .option_select ul label {
    cursor: pointer;
    margin: 0;
}
#product_size label {
    border: 2px solid #bdbdbd;
    box-sizing: border-box;
    font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif;
    height: 28px;
    line-height: 24px;
    min-width: 28px;
    padding: 0 4px;
    text-align: center;
}
label, p.faux_label, .label {
    color: black;
    display: block;
    font-size: 12px;
    margin-bottom: 3px;
    text-align: left;
}
#newsletter_signup_bar p.error, #newsletter_signup_bar p.response, .inline_form_container label, .newsletter_signup_container label, #product_container .option_select ul label > input, #brand_search label, #catalog_filter_options #catalog_filter_color li .label > input, #catalog_filter_options #catalog_filter_size_original li .label > input, #catalog_filter_options #catalog_filter_size li .label > input, .closed .hoverToggled, .visually_hidden {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px !important;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px !important;
}
 .order_btn {
    padding: 10px 0;
    border-bottom: 1px solid #bdbdbd;
}
.fl {
    display: inline;
    float: left;
}
 .order_btn a.redBtn {
    font-family: Arial;
    font-size: 0.875em;
}
a.redBtn {
    border: 3px solid #dd0017;
    border-radius: 2px;
    display: inline-block;
    text-decoration: none;
}
a:link, a:active {
    background-color: transparent;
}
a {
    color: #666;
    text-decoration: none;
}
 .order_btn a.redBtn span {
    line-height: 36px;
    padding: 0 40px;
}
a.redBtn span {
    background-color: #dd0017;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    white-space: nowrap;
}
 .order_btn a.addToFavBtn {
    color: #666;
    font-size: 0.75em;
    line-height: 27px;
    margin: 10px 0 0 20px;
    white-space: nowrap;
}
a:link, a:active {
    background-color: transparent;
}
 .order_btn a.addToFavBtn:hover {
    color: #cd011f;
    text-decoration: none;
}
.order_btn a.addToFavBtn {
    color: #666;
    font-size: 0.75em;
    line-height: 27px;
    margin: 10px 0 0 20px;
    white-space: nowrap;
}
 .order_btn a.addToFavBtn i {
    background-position: -120px -48px;
    display: inline-block;
    font-size: 0;
    height: 27px;
    margin-right: 5px;
    vertical-align: -10px;
    width: 27px;
}
.c_tagbg, .top_operate dt, .seachBtn, .cartItems, .scrollBox .direction-nav a, .goto_show_list .direction-nav a, .footerEmail button, .downApp a, .top_loginOther a, .nav_filter_close, .selectListBox a, .rev_img .direction-nav a, .c_direction-nav a, .multicolor, .redHeart, .rates {
    background-image: url("../images/tag.png?2014061701");
    background-repeat: no-repeat;
}
#product_info .toggle_link_container a.open:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: black transparent transparent;
    border-image: none;
    border-right: 5px solid transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    display: inline-block;
    height: 0;
    width: 0;
}
#product_info .toggle_link_container a:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent black;
    border-image: none;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: "";
    display: inline-block;
    height: 0;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 0;
}
#product_info .toggle_link_container a {
    color: black;
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding-top: 8px;
    position: relative;
    text-transform: uppercase;
}
a[href], input[type="submit"], input[type="image"], label[for], select, button, .pointer {
    cursor: pointer;
}
#product_info table.product_details tr:first-child th, #product_info table.product_details tr:first-child td {
    padding-top: 0;
}
#product_info table.product_details th, #product_info table.product_details td {
    padding-top: 4px;
    vertical-align: top;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
}
.current
{
    border:1px;
      
    border-color: transparent transparent transparent black;
}
product_info .toggle_link_container a.open:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: black transparent transparent;
    border-image: none;
    border-right: 5px solid transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    display: inline-block;
    height: 0;
    width: 0;
}
#product_info .toggle_link_container a:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent black;
    border-image: none;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: "";
    display: inline-block;
    height: 0;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 0;
}
#product_info .toggle_link_container a {
    color: black;
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding-top: 8px;
    position: relative;
    text-transform: uppercase;
}
.product_details
{
    font-size:10px;
}
.product_details th
{
    min-width:150px;
}
.cont
{
    vertical-align:top !important;
}