﻿.loginBox {
position: absolute;
left: 50%;
top: 50%;
margin: -254px 0 0 -430px;
width: 860px;
min-height: 480px;
background-color: #fff;
overflow: hidden;
border-radius: 0 30px;
background-color:White;
}
section, summary, time, video {
display: block;
}
.loginBox header {
padding: 20px 0;
text-align: center;
border-bottom: 1px solid #ddd;
}
.clearfix {
display: block;
}
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.loginWithPaypal, .loginWithFb {
display: inline-block;
padding-left: 21%;
zoom: 1;
vertical-align: middle;
margin-top: 3px;
margin-top: 15px;
}
.loginBox header {
padding: 20px 0;
text-align: center;
border-bottom: 1px solid #ddd;
}
.operalForm{padding-top: 13%;}
body
{
    
    background-color:Aqua;
    }
.loginWithFb b {
display: block;
float: left;
margin: 1px 0;
width: 30px;
line-height: 40px;
margin-right: 10px;
box-shadow: 1px 0 #bdcbec;
border-right: 1px solid #3c5a99;
font: bold 22px/40px arial;
text-align: center;
}
.loginWithFb a {
display: block;
float: left;
line-height: 40px;
padding: 0 12px 0 5px;
background-color: #3c5a98;
background-position: 5px 7px;
color: #fff;
border-radius: 3px;
text-decoration: none;
zoom: 1;
-webkit-transition: background-color .5s ease-in-out;
-moz-transition: background-color .5s ease-in-out;
-ms-transition: background-color .5s ease-in-out;
-o-transition: background-color .5s ease-in-out;
transition: background-color .5s ease-in-out;
}
.ml30 {
margin-left: 30px;
}
.s_valid {
overflow: hidden;
border-bottom: 1px solid #ddd;
}
.s_valid .operalBoxL {
border-right: 1px solid #ddd;   
}
.s_valid .operalBox {
display: inline;
float: left;
margin-left: -1px;
padding-left: 30px;
padding-right: 30px;
width: 370px;
min-height: 327px;
font-family: Arial;
}
.operalBoxL .ipt_t {
padding-bottom: 10px;
margin: 0 40px;
}
.operalBoxL .ipt_t input {
padding: 10px 10px 10px 40px;
line-height: 18px;
/*height: 30px;*/
width: 238px;
border: 1px solid #ddd;
}
.ipt_btn{padding-top: 8%;
padding-left: 19%;}
.operalBoxL .agrrementWarp {
font-size: .75em;
text-align: center;
padding-top: 10px;
}
.s_valid .operalBoxR {
border-left: 1px solid #ddd;
}
.operalBoxR h3 {
font-size: 24px;
text-align: center;
padding: 44px  0 20px;
line-height: 30px;
}
.operalBoxR .tips {
font-size: .75em;
text-align: center;
padding-bottom: 10px;

}
.gotoBtn{padding-left: 28%;}

#passwrdmsg {font-size: 12px;
padding-left: 11%;
color: red;}

.emailmsg{font-size: 12px;
padding-left: 11%;
color: red;}

#passwmsg{font-size: 12px;
padding-left: 11%;
color: red;}
#agreemsg{font-size: 12px;
padding-left: 11%;
color: red;}
p {
display: block; 
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

.email 
{
background-image: url(../images/sign.gif);
background-repeat: no-repeat;
background-position: 4px 2px;
    }
    .password,.repassword
  {
      background-image: url(../images/sign.gif);
      background-repeat: no-repeat;
      background-position: 4px -46px;
      }
/* forgot password*/

.resetPs .ipt_t {
    padding-bottom: 10px;
    width: 100%;
}
.resetPs .ipt_t input {
    padding: 10px 10px 10px 40px;
    line-height: 18px;
    height: 18px;
    width: 238px;
    border: 1px solid #DDD;
}
resetPs .email {
    background-position: 5px 7px;
}
.resetPs .email, .resetPs .password {
    background-image: url("../images/styleimg/sign.gif");
    background-repeat: no-repeat;
}
div.btnSubmit
{
padding: 0 40px;
line-height: 30px;
font-weight: normal;
background-color: #FF0047;
color: white;
width:73px;
cursor:pointer;
border-radius: 2px;
border:3px solid #FF0047;
}
.btnSubmit:hover{
padding: 0 40px;
line-height: 30px;
font-weight: normal;
background-color:white; 
color: #FF0047;
width:73px;
cursor:pointer;
border:3px solid #FF0047;
border-radius: 2px;
}