﻿body{display:block;width:100%;height:100%}
#signBox{overflow:hidden;height:100%;width:100%;background-color:#eee}
#header{background-color:#fff}
.sign_log{height:40px;padding:20px 0;text-align:center}
#imgbg{overflow:hidden;width:100%;height:100%}
.loginBox{position:absolute;left:50%;top:50%;margin:-254px 0 0 -430px;width:860px;min-height:480px;background-color:#fff;overflow:hidden;border-radius:0 30px}.loginBox header{padding:20px 0;text-align:center;border-bottom:1px solid #ddd}.loginBox footer{height:30px;padding:14px 30px;border-top:1px solid #fff;background-color:#f6f6f6}.loginBox footer .f_copyrit{line-height:30px}.loginWithPaypal,.loginWithFb{display:inline-block;*display:inline;zoom:1;vertical-align:middle;margin-top:3px;margin-top:15px}
.loginWithPaypal{width:185px;height:32px}
.loginWithFb{line-height:40px;font-size:14px;text-shadow:0 -1px 1px #263154}
.loginWithFb b
{
    display:block;float:left;margin:1px 0;width:30px;line-height:40px;margin-right:10px;box-shadow:1px 0 #bdcbec;border-right:1px solid #3c5a99;font:bold 22px/40px arial;text-align:center}.loginWithFb a{display:block;float:left;line-height:40px;padding:0 12px 0 5px;background-color:#3c5a98;background-position:5px 7px;color:#fff;border-radius:3px;text-decoration:none;zoom:1;-webkit-transition:background-color .5s ease-in-out;-moz-transition:background-color .5s ease-in-out;-ms-transition:background-color .5s ease-in-out;-o-transition:background-color .5s ease-in-out;transition:background-color .5s ease-in-out}
.loginWithFb a:hover{background-color:#1a4398}
.s_valid{overflow:hidden;border-bottom:1px solid #ddd}
.s_valid .operalBox{display:inline;float:left;margin-left:-1px;padding-left:30px;padding-right:30px;width:370px;min-height:327px;font-family:Arial}
.s_valid .operalBox .msg_error{line-height:18px;font-size:.75em;color:#cd011f;padding-bottom:10px}
.s_valid .operalBoxL{border-right:1px solid #ddd}
.s_valid .operalBoxR{border-left:1px solid #ddd}
.operalBoxL{padding-bottom:15px}
.operalBoxL .email,.operalBoxL .password{background-image:url(../images/styleimg/sign.gif);background-repeat:no-repeat}.operalBoxL h3{font-size:24px;text-align:center;padding:30px 0 0;line-height:30px}.operalBoxL .ipt_t{padding-bottom:10px;margin:0 40px}.operalBoxL .ipt_t input{padding:10px 10px 10px 40px;line-height:18px;height:18px;width:238px;border:1px solid #ddd}.operalBoxL .ipt_b{text-align:center}.operalBoxL .ipt_b button{font-family:Arial;font-size:18px}
.operalBoxL .ipt_b button span{padding:0 40px;line-height:30px;font-weight:normal}
.operalBoxL .forgetPas{text-align:center;padding-top:10px}
.operalBoxL .forgetPas a{font-size:.75em;line-height:30px;color:#666}
.operalBoxL label.error{display:block;clear:both;line-height:20px;font-size:.75em}
.operalBoxL .email{background-position:5px 7px}
.operalBoxL .password{background-position:5px -41px}
.operalBoxL .agrrementWarp{font-size:.75em;text-align:center;padding-top:10px}

.operalBoxL .agrrementWarp a{color:#666}
.operalBoxR h3{font-size:24px;text-align:center;padding:90px 0 20px;line-height:30px}
.operalBoxR .tips{font-size:.75em;text-align:center;padding-bottom:10px}
.operalBoxR .gotoBtn{text-align:center}
.operalBoxR .gotoBtn a{font-family:Arial;font-size:18px}
.operalBoxR .gotoBtn a span{padding:0 40px;line-height:30px;font-weight:normal}
.resetPs{padding:10px 40px 0;height:420px;font-family:Arial;text-align:center}
.resetPs .email,.resetPs .password{background-image:url(../images/styleimg/sign.gif);background-repeat:no-repeat}
.resetPs form{width:290px;text-align:left;margin:0 auto}.resetPs .ipt_t{padding-bottom:10px;width:100%}
.resetPs .ipt_t input{padding:10px 10px 10px 40px;line-height:18px;height:18px;width:238px;border:1px solid #ddd}
.resetPs .ipt_t .codeInput{width:177px;padding:10px}
.resetPs .ipt_t .code_img{width:80px;height:40px;margin-left:10px}
.resetPs .ipt_t img{width:80px;height:40px}.resetPs .ipt_b{text-align:center}
.resetPs .ipt_b button{font-family:Arial;font-size:18px}
.resetPs .ipt_b button span{padding:0 40px;line-height:30px;font-weight:normal}
.resetPs label.error{display:block;clear:both;line-height:20px;font-size:.75em}
.resetPs .email{background-position:5px 7px}.resetPs .password{background-position:5px -41px}
.resetPsFor h3{font-size:1.5em;padding-top:20px}
.resetPsFor .topTips{font-size:.75em;padding:10px 0 30px;color:#999}
.resetPsFor .footTips{padding-top:30px;font-size:14px;color:#999}
.resetPsFor .footTips a{color:#cd011f}
.resetPsTips h3{font-size:1.5em;padding-top:40px;padding-bottom:30px;border-bottom:1px solid #ddd}
.resetPsTips .topTips{width:70%;margin:0 auto;padding-top:30px;padding-bottom:10px;font-size:16px;text-align:left;color:#999}
.resetPsTips .find_inner_box{width:50%;margin:0 auto;padding-top:20px;text-align:left;font-size:14px}
.resetPsTips .find_inner_box a{color:#cd011f;text-decoration:underline}
.fbEMail{padding:8px 15px 0;display:none}
.fbEMail h4{padding-bottom:20px;padding-right:20px;font-size:14px;font-weight:bold}
.fbEMail .fbmsg_error{font-weight:bold;font-size:12px;color:#da3439}
.fbEMail .ipt_t{margin:0 auto}
.fbEMail .ipt_t input{width:318px}
